body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}
nav {
  background-color: purple;
  color: white;
  display: flex;
  justify-content: center;
}
nav span {

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}
.basic {
  margin: 10px;
  padding: 10px;
  background-color: #edeeef;
  color: purple;
}
.logo {
  float: left;
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}
.main-logo {
  font-family: 'Lobster', sans-serif;
  font-size: 20px;
}
.post-group {
  width: 700px;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}
.featured {
  width: 300px;
}
.pro-pic {
  width: 600px;
  border: solid white;
}
.comments {
  font-size: 13px;
}
.single-comment {
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 0px 10px;
}
